.home-section-3 {
    background-image: url("../../assets/images/Group 177.png");
    background-repeat: no-repeat;
    height: 1000px;
}

.sneaky-peak {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    padding: 60px;
    text-align: center;
}

.lion-frame-container {
    display: flex;
    justify-content: center;
    /*padding: 0 120px;*/

}
