.home-section-2 {
    background-image: url("../../assets/images/Group 184.png");
    background-repeat: no-repeat;
    height: 660px;
    /*width: 1920px;*/
}

.club-content{
    display: flex;
    padding: 140px;
}

.passes-lion{
    width: 527px;
    height: 330px;
}

.right-part{
    /*width:595px;*/

}
.club-heading{
    color:#FFF;
    font-size: 42px;

}
.club-paragragh{
    color: #FFF;
    font-size: 18px;

}
.second{
    margin-top: 20px;
}
