.color-stick {
    width: 5px;
    position: absolute;
    background-color: rgba(230, 0, 255, 1);
}

.position1 {
    top: 22.5rem;
    height: 170px;
}

.position2 {
    top: 41.9rem;
    height: 68px;
}

.position3 {
    top: 55rem;
    height: 68px;
    background: transparent linear-gradient(rgba(230, 0, 255, 1), rgba(46, 44, 243, 1)) 0% 0% no-repeat padding-box;
}

.position4 {
    top: 68rem;
    height: 68px;
    background-color: rgba(46, 44, 243, 1);

}

.position5 {
    top: 81rem;
    height: 68px;
    background-color: rgba(46, 44, 243, 1);

}

.position6 {
    top: 37rem;
    left: 36rem;
    height: 5px;
    width: 13vw;
    position: absolute;
    background-color: rgba(254, 151, 0, 1);
}

.position7 {
    top: 63rem;
    left: 36rem;
    height: 5px;
    width: 13vw;
    position: absolute;
    background-color: rgba(66, 164, 245, 1);
}

.position8 {
    top: 89rem;
    left: 36rem;
    height: 5px;
    width: 13vw;
    position: absolute;
    background-color: rgba(103, 59, 182, 1);
}

.position9 {
    top: 50rem;
    right: 35.8rem;
    height: 5px;
    width: 13vw;
    position: absolute;
    background-color: rgba(66, 164, 245, 1);
}

.position10 {
    top: 77rem;
    right: 35.8rem;
    height: 5px;
    width: 13vw;
    position: absolute;
    background-color: rgba(235, 64, 122, 1);
}
